:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  padding: 1.5rem 3rem;
  max-width: 1000px;
  margin: auto;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
  display: none;
}



