.p-menubar {
  margin: 0;
  border: none transparent;
  display: flex;
}
.p-menubar-root-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.p-menubar-submenu{
  padding: 0;
}


.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

